.user-edit-popup {
    position: absolute;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: 24%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid red;
    min-width: 400px;
}

.user-edit-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 3px;
}

.user-edit-label {
    font-size: 1.2rem;
}

.user-edit-save {
    border: 1px solid;
    border-style: solid;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 3px;
    color: #000;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    margin-top: 1.5rem;
}

.user-edit-save:hover {
    color: #fff;
    background-color: rgb(247, 12, 57);
}

input {
    font-size: 1.2rem;
    color: rgb(80, 80, 80);
    width: 60%;
}

.close-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.close-button-wrapper {
    cursor: pointer;
}